<div class="relative flex min-h-screen flex-col justify-center overflow-hidden bg-gray-50 py-6 sm:py-12 md:py-2">
  <div class="w-full items-center mx-auto max-w-screen-lg">
    <div class="group grid w-full grid-cols-1 md:grid-cols-2 gap-6">
      <!-- Texto -->
      <div>
        <div class="pr-4 md:pr-12">
          <p class="peer mb-6 text-gray-400">
            {{'firstdans' | translate}}
          </p>
          <p class="mb-6 text-gray-400">
            {{'firstdans2' | translate}}          </p>
          <h3 class="mb-4 font-semibold text-xl text-gray-400">{{'aspects' | translate}}</h3>
          <ul role="list" class="marker:text-sky-400 list-disc pl-5 space-y-3 text-slate-500">
            <li>{{'key7' | translate}}</li>
            <li>{{'key8' | translate}}</li>
            <li>{{'key9' | translate}}</li>
          </ul>
        </div>
      </div>

      <!-- Imagen y bloque adicional -->
      <div class="relative flex flex-col md:flex-row md:items-end items-center">
        <div class="absolute top-0 left-0 bg-blue-500 w-full md:w-4/6 px-8 md:px-12 py-10 md:py-14 flex flex-col justify-center rounded-xl group-hover:bg-sky-600 transition-all">
          <span class="block mb-6 font-bold group-hover:text-orange-300">{{'service 2' | translate}}</span>
          <h2 class="text-white font-bold text-2xl md:text-3xl">
            {{'blue2' | translate}}
          </h2>
        </div>
        <!-- Botón "RETURN TO HOME" -->
        <a class="font-bold text-black text-sm flex mt-4 md:mt-2 mb-4 md:mb-8 items-center gap-2" href="">
          <span>RETURN TO HOME</span>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
          </svg>
        </a>
        <!-- Imagen (oculta en dispositivos pequeños) -->
        <div class="rounded-xl overflow-hidden hidden md:block">
          <img src="https://picsum.photos/800/800" alt="">
        </div>
      </div>
    </div>
  </div>
</div>
